<!DOCTYPE html>
<html>
<head>
	<title>Peak Seekers</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheet/main.css">

</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Peak Seekers</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="/events">Blog</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if (!currentUser) { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Sign up</a></li>
          <li><a href="/login">Admin</a></li> 
        <% } else { %>
          <li><a href="#">Signed In As <%= currentUser.username %></a></li>
          <li><a href="/logout">Logout</a></li>
        <% } %>
      </ul>
      
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to Peak Seekers </h1>
      <p>Book our hand-picked events and treks from all over India</p>
      
    </div>
  </header>
  <div class="row text-center" style="display:flex; flex-wrap:wrap;">
    <% data.forEach(function(trek){ %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <img src="<%= trek.image %>">
          <div class="caption">
            <h4><%= trek.name %></h4>
          </div>
          <p><a href="/events/book/<%= trek._id%>" class="btn btn-primary">Show</a></p>
          
        </div>
      </div>
    <% }); %>
  </div>
</div>


<footer class="panel-footer">
  <div class="container">
    <div class="row">
      <section id="hours" class="col-sm-4">
        <span><b>About Peak Seekers</b></span><br>
        <p><a href="#"> About Us</a> <br>
          <a href="#">Terms and Conditions</a><br>
          <a href="#">Privacy Policy</a> <br>
          <a href="#">Copyright Policies</a> <br>
          <a href="#">Support Us</a><br>
          <a href="#">Apps</a></p>
      </section>
      <section id="hours" class="col-sm-4">
        <span><b>For Brands</b></span><br>
        <p>
          <a href="#">Partner with us</a> <br>
          <a href="#">Destination Marketing</a>
        </p><br>
        <span><b>For Travellers</b></span><br>
        <p>
          <a href="#">We are hiring</a><br>
        </p>
      </section>
      <section id="hours" class="col-sm-4">
        <span><b>Find us</b></span><br>
        <p>07 Tuscano tower,<br> Lower Parel, <br> Mumbai 400012,<br> Maharashtra.</p><br>
        <span><b>Contact us</b></span><br> 
        <a href="#">Mail us on : <i>peakseekers@gmail.com</i></a>       
          <a class="btn" href="tel:777-555-4321">
            <span class="glyphicon glyphicon-earphone"></span>
              777-555-4321
          </a>
      </section>
    </div>
  </div>
<h6 align="center"><i>&copy; Peak Seekers all rights reserved</i></h6>
</footer>
</body>
</html>